body{
    background-color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}
.header h1{
    width: 100%;
    text-align: center;
}
.navbar{
    width: 100%;
}
.navbar ul{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    background-color:#151922;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 2rem;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}

.visit-btn{
    padding: 0.8rem 1.5rem;
    margin: 1rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: black;
}
.visit-btn:hover{
    background: white;
    color: black;
}


#webcontent{
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    align-items: center;
}
#webcontent img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

.webcontent-left{
    flex: 1;
}

.webcontent-right{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media (max-width: 600px) {
    #webcontent{
        flex-direction: column;
    }
}