body{
    background-color: black;
    margin: 0;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
}
.header h1{
    text-align: center;
    margin: 5rem 0 2.5rem 0;
}
.navbar{
    font-size: 1.2rem;
}
.navbar ul{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    background-color:#151922;
    margin: 0;
    padding: 0;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    display: block;
}
.navbar a:hover{
    background-color: black;
    transition: 0.3s ease-in-out;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.btn button{
    background-color: black;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 3rem;
    border: solid 0.15rem white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn button:hover{
    background-color: white;
    color: black;
    border:white ;
    font-size: 1.2rem;
}
.btn i{
    font-size: 1.5rem;
    margin-right: 1rem;
}


#webcontent{
}
#webcontent h2{
    text-align: center;
    font-size: 2rem;
}

.about h2{
    display: flex;
    margin: 0;
    white-space: nowrap;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 2rem;
}
.about img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}
.about p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 500px;
}

.web-sections{
}
.web-sections h3{
    font-size: 2rem;
}
.web-sections li{
    margin-bottom: 1rem;
}

.experience{
    padding: 5rem 0 5rem 10rem;

}
.projects{
    background-color: #151922;
    padding: 5rem 0 5rem 10rem;
}

.experience ul,
.projects ol{
    padding: 1rem;
}

.contact{
    padding: 2.5rem 0 5rem 10rem;
}
.contact h3{
    text-align: center;
}
.contact ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    margin: 3rem;
}
.contact a{
    display: inline-flex;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
.contact a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.15rem;
    width: 100%;
    height: 0.05rem;
    background-color: white;

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.contact a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}
.contact li{
    display: flex;
    align-items: center;
    list-style: none;
}
.contact i{
    font-size: 1.3rem;
}
.contact a:active{
    transform: translateY(1px)
}







@media (max-width: 800px) {
    #webcontent{
        flex-direction: column;
        gap: auto;
    }
}